.panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  margin-top: 80px;
  margin-bottom: 50px;
}

.panel p {
  text-align: center;
  min-height: 30%;
}

.user-welcome {
  min-height: 50%;

}
