.navbar {
  display: flex;
  min-height: 70px;
  flex-direction: row;
  justify-content: flex-end;
  align-items: stretch;
  background-color: #900c3f;
}

.logo {
  justify-self: flex-start;
  margin-top: 25px;
  max-width: 30px;
  max-height: 30px;
}

.text-block {
  display: flex;
  max-height: 30px;
  margin-top: 25px;
  margin-right: 16px;
  flex-direction: column;
  justify-content: center;
}

.user-img {
  margin-top: 25px;
  margin-bottom: 25px;
  margin-right: 30px;
  padding-right: 0px;
  /*  box-shadow: 3px 3px 4px -1px black; */
  max-width: 30px;
  max-height: 30px;
}


